/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://media.istockphoto.com/id/1057506940/photo/colored-powder-explosion-on-black-background.jpg?b=1&s=170667a&w=0&k=20&c=amYvkTNSdXsVXykvRcpKcK-iSZPcGc_8k-cjf_tLa30=");
    background-repeat: no-repeat;
    background-size: cover;
    
}
